<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'/>
  <title>Explore 2k18</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.css">
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Itim" rel="stylesheet">
  <script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
</head>
<body>
	<section id="header" class="panel home" data-section-name="home">	
		<div id="image-div">
			<div id="image-inner-div">
				<img class="animated" id="explore-image" src="../logo/explore.png" alt="Explore Image">
			</div>
		</div>
	</section>
	<section id="div1" class="panel" data-section-name="second">
		<div class="animated" id="div1-inner">
			<span id="div1-inner-span">Events</span>
		</div>
	</section>
	<section id="div2" class="panel panel1" data-section-name=third>
		<div class="animated" id="div2-inner">
			<span id="div2-inner-span">Team Members</span>
		</div>
		<div id="text">
			<span id="changingText"></span>
		</div>
	</section>
	<section id="div3" class="panel panel2" data-section-name="fourth">
		
	</section>
	<!-- <ul class="pagination">
		<li>
			<a class="active" href="#home">
				<span class="hover-text">
					<i class="fa fa-circle-o" aria-hidden="true"></i>
				</span>
			</a>
		</li>
		<li>
			<a class="" href="#second">
				<span class="hover-text">
					<i class="fa fa-circle-o" aria-hidden="true"></i>
				</span>
			</a>
		</li>
		<li>
			<a class="" href="#fourth">
				<span class="hover-text">
					<i class="fa fa-circle-o" aria-hidden="true"></i>
				</span>
			</a>
		</li>
		<li>
			<a class="" href="#third">
				<span class="hover-text">
					<i class="fa fa-circle-o" aria-hidden="true"></i>
				</span>
			</a>
		</li>
	</ul> -->
	<script src="../js/jquery-scrolling.js"></script>
	<script src="../js/app.js"></script>
</body>
</html>
